# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Linux
*~

# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini

# sublime-text
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project
# sftp configuration file
sftp-config.json

# os x
.DS_Store
.AppleDouble
.LSOverride

# 静态文件不上传
files
images
uploads